/*
Authors: Michael Hawes, Gunther Cox, Kevin Brown, Tony Tran
Date: 20 January 2017
Project: Coconut Karaoke
*/



/* GLOBALS */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
    background-color: #f2f2f2;
}

h1,h2,h3,p {
  font-family: Helvetica;
}


/* form outer div */
.login_div {
    position: absolute;
    width: 300px;
    height: auto;
    /* Center form on page horizontally & vertically */
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;

}

/* form outer div */
.login_div_two {
    position: absolute;
    width: 300px;
    height: auto;
}

/* form itself */
.login_form {
    width: 350px;
    height: auto;
    background: white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    opacity: 1;
}
/* form itself */
.login_form_two {
    width: 500px;
    height: auto;
    background: white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    opacity: .9;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.login_form_three {
    width: 300px;
    height: auto;
    background: #FF1493;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
    opacity: .8;
    margin: 0;
    padding: 0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.form_ {
  padding-bottom: 20px;
}

div.play {
  padding-bottom: 10px;
}

div.play a:hover {
  opacity: .5;
}

div.col_2 {
  padding-top: 300px;
}

div.card_title {
  color: #004d99;
  font-size:200px;
}

div.inputs {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.images {
  padding: 10px;
}

/* input outer layers */
div.form-group {
  width: 200px;
}

/* width of predetermined songs */
div.out {
  width: 480px;
  background-color: #cce6ff;
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 3px;
}

div.inner {
  width: 270px;
}

/* form inputs */
.capture input{
  width: 200px;
}


/* button */
.submity {
  padding: 20px;
}

div.well {
  border-radius: 10px;
  width: 320px;
}

div.two {
  border-radius: 10px;
  width: 460px;
}

div.well .two {
  border-radius: 10px;
  width: 380px;
}


/* Animations */
#A,#B,#C,#D{
	position:absolute;
	left:-5%; /* Set initial position for each image off-screen left -- adjust according to image width */
	animation:mymove 8s infinite;	/* total animation time for each image is 8 seconds, loops forever */
	animation-direction:normal;
	/* Firefox */
	-moz-animation:mymove 8s infinite;
	-moz-animation-direction:normal;
	/* Safari, Chrome, and Webkit Opera */
	-webkit-animation:mymove 8s infinite;
	-webkit-animation-direction:normal;
	/* Presto Opera */
	-o-animation:mymove 8s infinite;
	-o-animation-direction:normal;
}

/* start each image's animation 2 seconds after the previous */
#A{
	animation-delay:0s;
	-webkit-animation-delay: 0s;
}

#B{
	animation-delay:2s;
	-webkit-animation-delay: 2s;
}

#C{
	animation-delay:4s;
	-webkit-animation-delay: 4s;
}

#D{
	animation-delay:6s;
	-webkit-animation-delay: 6s;
}

/* Animation start and stop points */
@keyframes mymove
	{
	from {left:-5%;}	/*off-screen left (adjust for image width)*/
	to {left:100%;}		/*off-screen right*/
	}

@-moz-keyframes mymove /* Firefox */
	{
	from {left:-5%;}
	to {left:100%;}
	}

@-webkit-keyframes mymove /* Safari, Chrome, and Webkit Opera */
	{
	from {left:-5%;}
	to {left:100%;}
	}

@-o-keyframes mymove /* Presto Opera */
	{
	from {left:-5%;}
	to {left:100%;}
	}
