<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Coconut Karaoke</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">

    <style>
    body {
      background-image: url("/static/img/I.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      height: 100%;
    }
    </style>

  </head>
  <body>




    <div class="container">
      <div class="row form">
        <div class="col-lg-12">
          <div class="col-lg-3">  <!-- left offset-->
          </div>




          <div align="center" class="login_div">
              <form class="login_form" action="#">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                          <img src="/static/img/coconut.png" alt="coconut" style="height: 60px;">
                        </div>
                        <div class="col-sm-3">
                          <img src="/static/img/karaoke.png" alt="coconut" style="height: 60px;">
                        </div>
                        <div class="col-sm-offset-4">
                        </div>
                      </div>
                    </div>



                    <!-- start of inputs -->
                     <div class="inputs">
                       <form>
                       <!--input 1-->
                        <div class="well form-group">
                          {% for i in results %}
                              <form action="{{ url_for('index') }}" method="post">
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <span>{{ i }}</span>
                                    </div>
                                  </div>
                              </form>
                              {% endfor %}

                          </div>  <!--End inputs-->



                        <!--input 2-->
                        {% extends "layout.html" %}
                        {% block content %}
                        <h3>Enter Your Lyrics</h3>
                        <div class="row capture">
                            <form action="{{ url_for('index') }}" method='POST'>
                                <div class="form-group">
                                    <input type="text" name="message"></input>
                                    <input type="text" name="message"></input>
                                    <input type="text" name="message"></input>
                                    <input type="text" name="message"></input>
                                </div>
                            </form>
                       </div>



                        <!--input 3-->
                        <div class="form-group">
                        <label for="sel1">Genre</label>
                           <select class="form-control" id="sel1">
                              <option>EDM</option>
                              <option>Classical</option>
                              <option>Pop</option>
                           </select>
                        </div>



                        <!--button-->
                        <div class="submit">
                           <button type="submit" class="btn btn-info">Submit</button>
                       </div>

                       {% endblock %}

                    </form>
                   </div>  <!-- end of inputs-->
              </div>
          </div> <!--end login_div-->



          <div class="col-lg-offset-3">  <!-- left offset-->
          </div>
        </div> <!-- end col-lg-12-->
      </div> <!-- End Row -->
    </div> <!-- End Container -->


    <!-- <div class="animate">
       <img src="/static/img/coconut.png" id="A" alt="A" style="height:40px"/>
       <img src="/static/img/coconut.png" id="B" alt="A" style="height:40px"/>
       <img src="/static/img/coconut.png" id="C" alt="A" style="height:40px"/>
       <img src="/static/img/coconut.png" id="D" alt="A" style="height:40px"/>
    </div> -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.js"></script>
  </body>
</html>
